.contact-section {
  position: relative;
  background-color: #f9fafa;
  padding-top: 75px;
  padding-bottom: 75px;
  height: 400px;
  margin-left: 35px;
  margin-right: 35px;
  align-items: center;
}
